body{background-color:#ffe4e1;}
hr{color: grey;
  border-style:none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
  }
h1{
  color: #db7093;
}
h3{
  color: #db7093;
}
img{height: 200px;}
